<!DOCTYPE html>
<html>
    <head>
    
    </head>
    <body>
    <div class="port">
    <div class="titlebox">
        <h1>Mg Ars</h1>
    </div>

    <div class="release">
        <h1>Gran lanzamiento</h1>
        <p>Album Homonimo</p>
    </div>

    <div class="simply-countdown"></div>

    <div class="registro">
        <h3>Obtener album</h3>
        <form class="form" method="POST">
            <label>Nombre</label>
            <input type="name" name="name" placeholder="Nombre"/><br/>
            <label>Correo</label>
            <input type="email" name="email" placeholder="Ingresa tu email"/><br/>
            <button type="submit">Enviar</button>
        </form>
    </div>

    <footer>
    MgArs.music 2021 &copy;
    </footer>

    </div>

    </body>

</html>
